# Third Party Licenses

This page lists the licenses of the projects used in IROX.

## Overview of licenses:

{{#each overview}}
 - [{{id}}: {{name}}](#{{id}})
{{/each}}

## All license text:</h2>
{{#each licenses}}
### [{{name}}]({{id}})
#### Used By:
{{#each used_by}}
- [{{crate.name}} {{crate.version}}]({{#if crate.repository}} {{crate.repository}} {{else}} https://crates.io/crates/{{crate.name}} {{/if}})
{{/each}}
<pre style="max-height:200px;overflow-y:scroll;white-space:pre-wrap;">{{text}}</pre>
{{/each}}

